@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'Shantell Sans', cursive;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--font);
  text-decoration: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --primary: #fffcfc;
  --secondary: #41ead4;
  --accent: #ffde3d;
  --font: #011627;
  --strong: #f71735;

}

html {
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 4rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.onScroll {
  background-color: var(--secondary);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo > img {
  width: 40px;
}

.logo span {
  color: var(--accent);
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--primary);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  transition: all .5s ease-in;
}

.nav-link:hover {
  background-color: var(--accent);
  color: var(--font);
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero .slider .slides {
  width: 100%;
  position: relative;
}

.hero .slider .slides > img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  transition: all 1s ease-in;
}


.hero .slider .slides > img:not(.active) {
  top: 0;
  left: 100%;
  transform: translateX(100%);
}

.hero .title {
  position: absolute;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.title > h1 {
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--primary);
}

.title > p {
  padding: 2rem;
  font-size: 1.5rem;
  opacity: 60%;
  color: var(--primary);
}

.about-contact {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 4.5rem;
}

.about-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 75%;
}

.about-information .slider {
  width: 100%;
}

.about-information .slider > img {
  object-fit: cover;
  width: inherit;
}

.quote {
  padding-bottom: 2rem;
}

blockquote {
  padding: 1.5rem;
  font-style: italic;
  opacity: 65%;
  font-size: 1.25rem;
}

.user {
  display: flex;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.user .user-profile > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
  border: 1px solid var(--secondary);
  box-shadow: 0px 0px 100px 1px var(--accent);
}

.user .user-info {
  line-height: 1.5rem;
}

.user .user-info > h4 {
  font-weight: 600;
}

.user .user-info > p {
  font-style: italic;
  opacity: 50%;
}

hr {
  width: 8rem;
  margin: auto;
  border: 1px solid var(--secondary);
}

.feature {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
  opacity: 65%;
}

ul {
  list-style: none;
}

.feature .nomor > li {
  width: 3rem;
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  background-color: var(--secondary);
  text-align: center;
  border-radius: 50%;
  font-weight: 300;
}

.feature .feature-list > li {
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

.contact {
  flex: 25%;
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 3rem;
  height: 600px;
}

.contact-title {
  margin-bottom: 2.5rem;
}

.contact-title > h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.contact-title > p {
  opacity: 60%;
}

.contact-form > input,
select {
  padding: 1rem;
  margin: 0.5rem 0 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid lightblue;
  width: 100%;
}

.contact-form > select:focus {
  border: 1px solid var(--accent);
}

.contact-form > button {
  padding: 1rem;
  margin: 0.5rem 0 1.5rem;
  border: transparent;
  border-radius: 0.5rem;
  width: 100%;
  transition: all 0.3s ease-out;
}

.contact-form > button:hover {
  background-color: var(--accent);
  transform: scale(1.05);
  letter-spacing: 0.1rem;
}

#package {
  padding: 0;
}

.package-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: var(--secondary);
  text-align: center;
}

.package-title > h1 {
  font-size: 3rem;
  font-weight: 500;
}

.packages {
  padding: 2.5rem 4.5rem 1rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

card {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.icon {
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 2px;
}

.star {
  width: 30px;
  height: 30px;
  fill: var(--accent);
}

.destination-city > h5 {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.5rem 0 1rem 0;
}

.destination-city > p {
  opacity: 65%;
  font-size: 1rem;
}

#closing {
  padding: 4.5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#closing > h1 {
  font-size: 2rem;
  font-weight: 600;
}

#closing > p {
  text-align: center;
  margin: 3rem;
}

#call-us {
  color: var(--font);
  padding: 1rem 2rem;
  background-color: var(--accent);
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}

#call-us:hover {
  transform: scale(1.3);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* laptop 1024px */
@media screen and (min-width: 1024px) {
  
}

/* tablet 768px */
@media screen and (min-width: 768px) {
  
}

